.footer {
  width: auto;
  padding: 1.5rem 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: #ffffff;
  margin-top: auto;
  position: relative;
  z-index: 10;

  margin-left: 245px;
  box-sizing: border-box;
  transition: margin-left 0.3s ease;
}

.footerLinks {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  font-weight: 400;
  align-items: center;
}

.footerLinks a,
.searchButton {
  color: #737373;
  text-decoration: none;
  font-size: 12px;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  transition: color 0.2s ease;
}

.footerLinks a:hover,
.searchButton:hover {
  text-decoration: underline;
  color: #000000;
}

.footerCopyright {
  color: #737373;
  font-size: 12px;
  margin-top: 0.5rem;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif;
  font-weight: 400;
}

@media (max-width: 1024px) {
  .footer {
    margin-left: 72px;
  }
}

@media (max-width: 768px) {
  .footer {
    display: none !important;
  }
}
